<!doctype html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-G9VRPWJ7K7"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    <script>
        window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
      </script>
    <script defer src="/_vercel/insights/script.js"></script>
    
    <script>
        gtag('config', 'G-G9VRPWJ7K7');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inside Out Mindset</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon"> <!-- Favicon 추가 -->

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Inside Out Mindset">
    <meta property="og:description" content="Explore the Inside Out Mindset and get empathetic responses from your favorite characters.">
    <meta property="og:image" content="{{ url_for('static', filename='images/og-image.png') }}">
    <meta property="og:url" content="https://emotional-gpt.vercel.app/">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="ko_KR">

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Inside Out Mindset">
    <meta name="twitter:description" content="Explore the Inside Out Mindset and get empathetic responses from your favorite characters.">
    <meta name="twitter:image" content="{{ url_for('static', filename='images/og-image.png') }}">

    <script>
        var contentMap = {{ content_map | tojson | safe }};
    </script>
</head>
<body>
    <header>
        <h1>Inside Out Mindset</h1>
    </header>
    <main>
        <p class="instruction-text">Select a character and enter a situation.</p>
        <p class="data-privacy">Data is not stored separately.</p>
        <form method="POST" id="character-form">
            <div class="character-selection">
                {% for key, value in content_map.items() %}
                    <div class="character" data-character="{{ key }}">
                        <img src="{{ url_for('static', filename='images/' + key + '.png') }}" alt="{{ key }}">
                        <p>{{ key }}</p>
                    </div>
                {% endfor %}
            </div>
            <input type="hidden" name="character" id="selected-character">
            <div class="form-row">
                <div class="textarea-group">
                    <textarea name="user_input" id="user-input" placeholder="{{ content_map[selected_character]['placeholder'] if selected_character else 'Enter your situation' }}" maxlength="200" oninput="updateCharCount()">{{ user_input }}</textarea>
                    <div id="charCount">0/200</div>
                </div>
                <div class="button-group">
                    <button type="submit" id="submit-button">
                        <span class="button-text">Generate message 🚀</span>
                        <div class="spinner" id="button-spinner" style="display: none;"></div>
                    </button>
                    <a href="https://buymeacoffee.com/his0203" target="_blank" class="support-button">Support creator ☕️</a>
                </div>
            </div>
        </form>
        {% if response %}
            <section class="response-section">
                <h2>{{ content_map[selected_character]['title'] }}</h2>
                <p>{{ response }}</p>
                <div class="share-buttons">
                    <button id="share-twitter" class="x-button">
                        <img src="{{ url_for('static', filename='images/x-logo.png') }}" alt="X Logo" class="x-logo">
                        Share on X
                    </button>
                </div>
            </section>
        {% endif %}
    </main>

    <!-- 광고 영역 -->
    <div id="ad-container">
        <div id="ad-small-screen">
            <script type="text/javascript">
                atOptions = {
                    'key' : 'efdd045212271dacbd0cd25a5ff85554',
                    'format' : 'iframe',
                    'height' : 50,
                    'width' : 320,
                    'params' : {}
                };
            </script>
            <script type="text/javascript" src="//www.topcreativeformat.com/efdd045212271dacbd0cd25a5ff85554/invoke.js"></script>
        </div>
        <div id="ad-large-screen">
            <script type="text/javascript">
                atOptions = {
                    'key' : '7e7da6d7643b83889d06925e61cc0a8f',
                    'format' : 'iframe',
                    'height' : 90,
                    'width' : 728,
                    'params' : {}
                };
            </script>
            <script type="text/javascript" src="//www.topcreativeformat.com/7e7da6d7643b83889d06925e61cc0a8f/invoke.js"></script>
        </div>
    </div>

    <footer>
        <p>&copy; 2024 Heesoo-Jin. All rights reserved.</p>
    </footer>
    <script>
        function updateCharCount() {
            const textarea = document.getElementById('user-input');
            const charCount = document.getElementById('charCount');
            charCount.textContent = `${textarea.value.length}/200`;
        }

        document.querySelectorAll('.character').forEach(item => {
            item.addEventListener('click', event => {
                const selectedCharacter = item.getAttribute('data-character');
                const characterMap = {{ content_map | tojson }};
                document.getElementById('selected-character').value = selectedCharacter;
                document.getElementById('user-input').setAttribute('placeholder', characterMap[selectedCharacter].placeholder);
                document.querySelectorAll('.character').forEach(c => c.classList.remove('selected'));
                item.classList.add('selected');
            });
        });

        document.getElementById('character-form').addEventListener('submit', event => {
            if (!document.getElementById('selected-character').value) {
                event.preventDefault();
                alert('Please select a character.');
            } else {
                document.getElementById('submit-button').disabled = true;
                document.querySelector('.button-text').style.display = 'none';
                document.getElementById('button-spinner').style.display = 'block';
            }
        });

        document.addEventListener('DOMContentLoaded', () => {
            const shareTwitterButton = document.getElementById('share-twitter');
        
            if (shareTwitterButton) {
                shareTwitterButton.addEventListener('click', () => {

                    const url = encodeURIComponent(window.location.href);
        
                    // Check user's language
                    const userLang = navigator.language || navigator.userLanguage;
                    let text, hashtags;
        
                    if (userLang === 'ko' || userLang === 'ko-KR') {
                        text = `당신도 인사이드 아웃 캐릭터들과 감정을 나눠보세요.😊  #InsideOutMindset #감정공감`;
                        hashtags = "InsideOutMindset,감정공감";
                    } else {
                        text = `Share your feelings with Inside Out characters.😊 #InsideOutMindset #EmotionalSupport`;
                        hashtags = "InsideOutMindset,EmotionalSupport";
                    }
        
                    const twitterUrl = `https://twitter.com/intent/tweet?text=${encodeURIComponent(text)}&url=${url}`;
                    window.open(twitterUrl, '_blank');
                });
            }
        });
        
                
        
    </script>
</body>
</html>
