<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>인사이드 아웃 공감소</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    
    <!-- Google AdSense 광고 코드 -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1955771036175025"
     crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <h1>인사이드 아웃 공감소</h1>
    </header>
    <main>
        <form method="POST" id="character-form">
            <div class="character-selection">
                {% for key, value in content_map.items() %}
                    <div class="character" data-character="{{ key }}">
                        <img src="{{ url_for('static', filename='images/' + key + '.png') }}" alt="{{ key }}">
                        <p>{{ key }}</p>
                    </div>
                {% endfor %}
            </div>
            <input type="hidden" name="character" id="selected-character">
            <input type="text" name="user_input" placeholder="상황을 입력해 주세요" value="{{ user_input }}">
            <button type="submit">전송</button>
        </form>
        {% if response %}
            <section class="response-section">
                <h2>응답</h2>
                <p>{{ response }}</p>
            </section>
        {% endif %}
    </main>
    <script>
        document.querySelectorAll('.character').forEach(item => {
            item.addEventListener('click', event => {
                document.getElementById('selected-character').value = item.getAttribute('data-character');
                document.querySelectorAll('.character').forEach(c => c.classList.remove('selected'));
                item.classList.add('selected');
            });
        });
        document.getElementById('character-form').addEventListener('submit', event => {
            if (!document.getElementById('selected-character').value) {
                event.preventDefault();
                alert('캐릭터를 선택해주세요.');
            }
        });
    </script>
</body>
</html>
